@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --myfont: 'Mulish', sans-serif;
    --my-btn-font: 'Montserrat', sans-serif;
    --lg-lightcolor: linear-gradient(to left ,rgba(116,235,0.6), rgba(159, 172, 230, 0));
    --lg-color: linear-gradient(to left , #74ebd5,#9face6);
}

body{
    background-image:  url(https://www.teahub.io/photos/full/179-1795375_iu19z88-high-resolution-abstract-wallpaper-hd-abstract-wallpaper.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: var(--myfont);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
  

}


.container{
background-color: #fff;
border-radius: 10px;
box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.5), 0 6.7px 5.3px rgba(0, 0, 0, 0.48), 0 12 ;
overflow: hidden;
width: calc(100vw-65vw);
max-width: 100%;
}

.header{
    background: var(--lg-color);
    padding: 30px 0;
}

.header h2{
    color: #222;
    font-family:var(--my-btn-font);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;

}

.form{
    padding: 40px;
    width: 600px;
  
}

.form-control{
    margin-bottom: 20px;
    position: relative;
    height: 49px;
    margin-bottom: 30px;
   
}

.form-control label{
    display: inline-block;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 13px;
}

.form-control input{
    width:100%;
    border: 2px solid#f0f0f0;
    border-radius: 5px;
    /* display: block; */
    font-family: var(--myfont);
    padding: 12px;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.success input{
 
   border-color: #2ecc71;    
}


.form-control.error input{
 
    border-color: #e74c3c;    
 }

 .form-control i{
     position: absolute;
     right: 12px;
     top: 40px;
     visibility: hidden;
 }

 /* .form-control small{
  
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 10px;
    visibility: hidden;

} */

 .form-control small{
    color: #e74c3c;
     visibility: hidden;
     position: absolute;
     top: 66px;
     left: 4px;
     font-size: 10px;
     font-weight: bold;
 }

 .form-control.sucess i.fa-check-circle{
     color: #2ecc71;
     visibility: visible;
 }

 .form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}



.form-control.error small{

visibility: visible;


}

.form .btn{
    background: linear-gradient(to right, #74ebd5,#9face6);
    border-radius: 6px;
    border: none;
    outline: none;
    color: rgb(26, 13, 13);
    display: block;
    font-family: var(--my-btn-font);
    font-size: 16px;
    padding: 15px 0;
    margin-top: 50px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    transform: all 1s ease;
}

.form .btn:hover{
    background: linear-gradient(to right, #9face6,#74ebd5);
    cursor: pointer;
    font-weight: bolder;
    font-size:17px;
    

}

@media(max-width:998px){
    .container{
            width: calc(100vw-35vw);
            max-width: 100%;
    }
}

.form .footer{
    /* background-color: #000; */
    color: rgb(2, 2, 2);
    font-size: medium;
    height: 27px;
    margin-top: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border: 2px solid coral;
    border-radius: 10px ;
}

.fa-copyright:before {
    content: "\f1f9";
   margin-top:2px;
  
}
.fa-heart:before {
  color:blue;
}
.footer p{

    font-size: 10px;
    margin-top: -5px;
    font-style: italic;
}

.form .footer:hover{  transition: 2s;
    border: 2px solid rgb(27, 240, 222);}